<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <div>
      <nav>
        <RouterLink to="/">Home Page</RouterLink>
        <RouterLink to="/firstPage">First Page</RouterLink>
        <RouterLink to="/secondPage">Second Page</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />
</template>
